# test libraries
coverage
pyflakes>=2.1.1
flake8
isort
mock
djangocms_helper
factory-boy
django-classy-tags<2.0.0  # Support Django<2.0
django-sekizai<2.0.0  # Support Django<2.0

# Get the latest cms v4 compatible djangocms-text-ckeditor
https://github.com/divio/djangocms-text-ckeditor/tarball/support/4.0.x#egg=djangocms-text-ckeditor
